/*Estilo para o componente OpcoesHeader, repetindo toda vez que usarmos este componenete*/
/*Estilo para lista ordenada (ul)*/
.opcoes {
    display: flex;
}

/*Estilo para cada item da lista*/
.opcao {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;    
}
